.container {
	width: 900px;
	margin: 0 auto;
	overflow: hidden;
}

header {

	height: 100px;
	margin: 0 auto;
	background-color: lightblue; 
}

h1 {
	font-size: 30px;
	margin-bottom: 20px;
	margin-left: 100px;
}

fieldset {
	width: 400px;
	padding-top: 40px;
	padding-bottom: 20px;
	padding-left: 20px;
	margin-bottom: 20px;
	border: 1px solid gray;

}

.left {
	float: left;
}

.right {
	float: right;
	margin-left: 20px;
}

input[type="button"], input[type="reset"] {
	width: 100px;
	height: 50px;
	margin-bottom: 25px;
	margin-right: 20px;
}

input[type="text"] {
	background-color: #FAF5CF;
	margin-bottom: 20px;
	width: 175px;
}	

input[type="text"].right {
	margin-right: 20px;

}

label {
	display: inline-block;
	vertical-align:baseline;
	width: 100px;
	text-align: right;
	margin-bottom: 20px;
	font-weight: bold;
}

label.left {
	width: 150px;
}

.buttons {
	padding-top: 7px;
	padding-bottom: 17px;
	margin-bottom: 44px;
}

.minicomplete {
	background-color: #fff;
	position: absolute;
	width: 350px;
	font-size: 11px;
	border: 1px solid #000;
}

.minicomplete div {
	cursor:pointer;
}
/*
.minicomplete div:hover {
	background:#ddd;
}
*/

.selected {
	background-color: #ddd;
}